html{
    background-color: aquamarine;
    background-image: url(../img/smiley-people-having-fun-zumba-class.jpg);
    background-size: 100%;
    background-attachment: fixed;
}
#menus {
  display: flex;
  gap: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 20px;
  justify-content: center;
}

#menus a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;      
  transition: background 0.3s ease, transform 0.2s ease;
}


#menus a:hover {
  background: #ff3131;     
  transform: scale(1.05);  
}
#horarios {
  text-align: center;
  margin: 40px auto;
  margin-left: 40px;
  max-width: 700px;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
}
.horarios h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
}