#titol {
    color: white;
    text-shadow: 0 0 15px #00FF90  ;
    font-size: 30px;
    color: #00FF90;
    margin-top: 10%;
    text-align: center;
    background-image: linear-gradient(  #1B2330 70%, #00FF90  100% );
}
#divtitol{
    height: 60px;
    width: 60%;
    margin-left: 20%;
    background-color: #1B2330 ;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00FF90;
}


#presentacion {
    color: white;
}



#image1 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 70%;
    left: 50%;
    box-shadow: 0 0 15px #00FF90;
    transition: transform 1s;
}
#image1:hover{
    transform: scale(1.2);
}





#explicacionboxeo {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 60%;
    left: 22%;
   
}


main {
    height: 1600px;
}

#video1 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 70%;
    left: 20%;
}
#servicio1{
    position: absolute;
    margin-left: 45px;
    font-size: 30px;
    color: #1B2330;
    background-image: linear-gradient(  #00FF90 70%, #1B2330  100% );
}
#divboxeo{
    height: 50px;
    width: 200px;
    background-color: #00FF90;
    position: absolute;
    left: 45%;
    top: 45%;
    border-radius: 15px;
    
}
#servicio2{
    position: absolute;
    color: #1B2330;
    left: 25%;
    font-size: 30px;
     background-image: linear-gradient(  #00FF90 70%, #1B2330  100% );
}
    

#explicacionzumba{
    position: absolute;
    top: 1270px;
    font-size: 30px;
    margin-left: 25%
}
#divzumba{
    height: 50px;
    width: 200px;
    background-color: #00FF90;
    position: absolute;
    left: 46%;
    top: 1150px;
    border-radius: 15px;
}
#imagezumba{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 1350px;
    transition: transform 1s;
    box-shadow: 0 0 15px #00FF90;
}
#imagezumba:hover{
    transform: scale(1.2);
}
#imagezumba2{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 950px;
    top: 1350px;
    transition: transform 1s;
    box-shadow: 0 0 15px #00FF90;
}
#imagezumba2:hover{
    transform: scale(1.2);
}
